*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common styles start */
.quicksand{
    font-family: "Quicksand", serif;
    background-image: url('assets/bg.png');
}
.black{
    color: #111111;
}
.orange{
    color: orange;
}
.sky-blue{
    color: #01ACFD;
}
.color-3{
    color: #05D4DF;
}
.beguni{
    color: rgba(93, 88, 239, 1);
}
.white{
    color: white;
}
/* common styles end */

/* nav style start */
header{
    background: white;
}
.nav-container{
    max-width: 1160px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}
.part-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
}
.part-1>h2{
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}
.part-2 ul{
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    list-style: none;
    gap: 32px;
}
.part-2 ul li a{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 30px;
}
.part-2 ul a{
    text-decoration: none;
}
.part-3>button{
    line-height: 30px;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    background-color: orange;
}
#menu{
    display: none;
}
hr{
    display: none;
}
/* nav style end */

/* banner styles start */
.banner-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.banner-content>h1{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
    margin-bottom: 24px;
}
.banner-content>p{
    font-size: 1.25rem;
    margin-bottom: 24px;
}
.banner-content>button{
    font-size: 1.25rem;
    line-height: 30px;
    font-weight: 700;
    padding: 10px 47px;
    background-color:#111111;
    border: none;
    border-radius: 12px;
}
/* banner styles end */

/* section-1 style start */
.section-1 > .title{
    text-align: center;
    margin: 60px auto 80px;
    font-size: 2.875rem;
    font-weight: 700;
    line-height: 57.5px;
}
.card-container{
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28.29px;
    background: white;
    margin-bottom: 80px;
}
.card-container > .card{
    max-width: 367.8px;
    padding: 52.82px 40.67px 53.76px 40.88px;
    text-align: center;
    border-radius: 18.86px;
}
.gradient-1{
    background-image: linear-gradient(to bottom,#DEF5FF,white,white,white);
    border: 1px solid #DEF5FF;
}
.gradient-2{
    background-image: linear-gradient(to bottom,#FFF4DC,white,white,white);
    border: 1px solid #FFF4DC;
}
.gradient-3{
    background-image: linear-gradient(to bottom,#F2E8FF,white,white,white);
    border: 1px solid #F2E8FF;
}
.card>h3{
    font-size: 1.5325rem;
    font-weight: 700;
    line-height: 30.7px;
    color: #202020;
    margin-bottom: 33.48px;
}
.card>p{
    font-weight: 500;
    font-size: 15.09px;
    line-height: 28.3px;
    color: #808080;
    margin-bottom: 33.95px;
} 
.card>a{
    font-size: 15.09px;
    font-weight: 700;
    line-height: 28.3px;
    text-decoration: none;
}
#a{
    color: #64C8FF;
}
#b{
    color: #F0AA00;
}
#c{
    color: #8700FF;
}
.arrow-btn{
    text-align: center;

}
.arrow-btn>button{
    font-size: 1.5rem;
    line-height: 24px;
    color: white;
    padding: 17px 22.13px 19px 22.5px;
    background-color: orange;
    border-radius: 30px;
    border: none;
    margin-bottom: 60px;
    /* font-weight: bold; */
}
.arrow-btn>button:hover{
    background-color: tomato;
}
/* section-1 style end */

/* section-2 style start */
.section-2{
    width: 100%;
    background-image: linear-gradient(to top,#FEA301,white);
}
.section-2>.title{
    text-align: center;
    font-weight: 700;
    font-size: 46px;
    line-height: 57.5px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.special-card{
    max-width: 1160px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 19.17px;
    margin-bottom: 80px;
}
.card-1{
    grid-row: 1 / span 2;
    border-radius: 16px;
    background-color: white;
}
.card-1>.special-btn-1> button{
    font-family: "Raleway", serif;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.8px;
    color: white;
    padding: 14.38px 18.88px 15.34px 19.17px;
    border: none;
    border-radius: 47.93px;
    background-color: #3CD8E8;
}
.special-btn-1{
    margin-left: 38.35px;
    margin-top: -30px;
}
.card-1>img{
    border-radius: 16px 16px 0px 0px;
}
.card-1>h3{
    padding: 33.55px 38.35px 47.93px 38.35px;
    font-weight: bold;
    font-size: 24px;
    line-height: 38.3px;
}
.card-1>p{
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.8px;
    color: #666666;
    padding: 0px 68.86px 34.52px 38.35px;
}

.card-2{
    border-radius: 16px;
    background-color: white;
}
.card-2>img{
    border-radius: 16px 16px 0px 0px;
}
.card-2>h5{
    font-weight: bold;
    font-size: 15.34px;
    line-height: 28.8px;
    padding: 23.97px 54.75px 33.55px 37.51px;
}
.card-2>.special-btn-2> button{
    font-family: "Raleway", serif;
    font-size: 15.34px;
    font-weight: 500;
    line-height: 28.8px;
    color: white;
    padding: 9.59px 18.88px 10.55px 19.17px;
    border: none;
    border-radius: 47.93px;
    background-color: #95B226;
}
.special-btn-2{
    margin-left: 37.91px;
    margin-top: -25px;
}
.view-btn{
    text-align: center;
}
.section-2>.view-btn> button{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: white;
    padding: 10px 61px;
    border-radius: 10px;
    border: none;
    background-color: #111111;
    margin-bottom: 60px;
}
#a{
    background-color: #5D58F0;
    color: white;
}
/* section-2 style end */

/* responsive styles for mobile */
@media screen and (max-width:576px) {
    .nav-container .part-1 h2,
    .nav-container .part-2,
    .nav-container .part-3 button,
    .arrow-btn
    {
        display: none;
    }
    .nav-container{
        max-width: 358px;
        margin: 12px auto;
    }
    #menu{
        display: block;
        font-size: 2rem;
    }
    hr{
        display: block;
        margin-bottom: 8px;
        border-color: orange;
    }
    .banner-container{
        max-width: 358px;
        flex-direction: column-reverse;
        text-align: center;
        gap: 0px;
        
    }
    .banner-image img{
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
    .banner-content>h1{
        font-size: 2rem;
        line-height: normal;
        margin-bottom: 18px;
    }
    .banner-content>p{
        margin-bottom: 18px;
        font-size: 14px;
    }
    .banner-content>button{
        margin-bottom: 20px;
    }
    /* section-1 */
    .card-container{
        flex-direction: column;
        gap: 12.3px;
    }
    .section-1 > .title{
        margin: 40px auto 20px;
        font-size: 26px;
    }
}

